th {
  padding: 20px
}

.loader {
  width: 100px;
  position: absolute;
  top: 118px;
  left: 210px;
  z-index: -1;
  display: none;
}
/*pagination*/
#pagination {
	display: flex;
	margin: 0 auto; 
	width: fit-content;
}
#pagination a {
	color: #fff;
	text-decoration: none;
	padding: 10px 20px;
	line-height: 1;
	background: #4CAF50;
}
#pagination a:hover, .pagination a.active {
	color: #fff;
	background: #ff7300;
}
#pagination .active {
	color: #fff;
}
#pagination-prev {
	margin-right: 20px;
}
#pagination-next {
	margin-left: 20px;
}
table {
  width: 40%;
  margin: auto;
}
#searchbar {
    padding: 12px;
    margin: 0 auto; 
    width: fit-content;
    box-sizing: border-box;
    text-align: center;
}
#searchbtn {
	padding: 9px;
	cursor: pointer;
  background-color: #4CAF50;
}
input[type=text] {
    padding: 12px;
    /*margin: 5px 0 0 0;*/
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
#tambahBtn1 {
  margin: 0 auto; 
  width: fit-content
}
#tambahBtn1:hover{
  color:#ff7300;
}
#tambahBtn {
  box-sizing: border-box;
  background-color: #4CAF50;
  color: white;
  padding: 16px 110px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}
#tambahBtn:hover {
  opacity: 1;
}

.print1 {
  margin: 0 auto;
  width: fit-content;
}
.print1:hover{
  color: #ff7300;
}
.printBtn {
  box-sizing: border-box;
  background-color: #4CAF50;
  color: white;
  padding: 16px 140px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}
.printBtn:hover {
  opacity: 1;
}

#piechart {
  cursor: pointer;
  box-sizing: border-box;
}
#logoutbtn {
	box-sizing: border-box;
    background-color: #4CAF50;
    color: white;
    padding: 16px 130px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}
#logoutbtn:hover {
	opacity: 1;
	background-color: #d62d2d;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}